*
!*.cc
!*.cpp
!*.c
!*.h
!*.hh
!*.hxx
!*.obj
!*.glsl
!assets/**
!.gitignore
!*.vert
!*.frag
!*.comp
!*/
!**/Makefile
!README
!.clang-format
.git
assets/
!assets/*.glsl
!assets/*.comp
!assets/*.vert
!assets/*.frag
